@import 'css/mixins.scss';

/**
 * @require 'singlepage/scss/owl/populardestinations.scss'
 * @require 'blocks/whitelabel/partners/<%= whitelabelName %>/header.scss'
 * @require 'blocks/whitelabel/partners/<%= whitelabelName %>/footer.scss'
 */

// Variables
$colorMain: <%= whitelabelMainColor %>;
$colorSub: <%= whitelabelSubColor %>;

// Gif Loader
.bookingloading {
  &:before {
    background: url('/img/spinners/ajax-loader.gif') no-repeat;
    height: 31px;
    width: 31px;
  }
}

// Searchform
.searchform-form {
  background: $colorMain;
  color: #fff;

  .searchform-title {
    color: $colorMain;
  }

  .button.searchform-submit {
    background: $colorSub;
    text-shadow: none;
    border: none;
    box-shadow: none;
    color: #fff;
  }

  .nodatesbutton {
    border-color: darken($colorMain, 10%);
  }
}

// Custom Whitelabels Colors
.sortbutton,
.hotelcard-link .hotelcard-title,
.hotelcard-text-link,
.hotelcard-location,
.hotel-tabs-button,
.hotel-header-address,
.hotel-change-dates,
.hotel-room-desc-link,
.hotel-similar-price-value,
.booking-guests-toggle,
.booking-room-wishes-toggle,
.booking-price-room-taxes,
.formfieldeula-agreement,
.formfieldeula-privacy,
.booking-tabs-button,
.hotelcard-link:visited,
.booking-tabs-button,
.tworowgallery-button-left-icon,
.tworowgallery-button-right-icon,
.hotel-reviews-brief-read-all,
.hotel-similar-title,
.hotel-similar-location,
.booking-hotel-link,
.booking-auth-social .social-auth,
.serpfilter-price .serpfilter-title-nights,
.serphotel-name-link,
.serphotel-name-link:visited,
.hotel-rooms-not-found-choice-button,
.hotel-rooms-not-found-choice:before,
.hotel-room-rate-dateless-proceed-desc,
.booking-backlink-link,
.hotelcard-link:visited .hotelcard-title,
.serpfilter-price .serpfilter-title-nights,
.owl-populardestinations,
.owl-populardestinations-destination-name,
.hotel-about-sorrymessage-link,
.body-hotel .serptabbutton  {
  color: $colorMain;
}

.serpheader,
.sortbutton-checked,
.urgencypopups-popup,
.serpfilter-slider .goog-slider-rangehighlight,
.serpfilter-slider .goog-twothumbslider-rangehighlight,
.hotelsearchinfo-container,
.hotel-room-rate-multibookingcontrol,
.hotel-room-rate-multibookingcontrol-item-selected,
.hotel-room-rate-multibookingcontrol-item-content:hover,
.hotel-rating-param-indicator,
.map-with-mapruler .mapruler,
.hotel-multibookingsubmit,
.headerregion:hover .headerregion-inner,
.header-select,
.body-serp .owl-header-inner {
  background: $colorMain;
}

.serpsizebutton,
.serphotel-button,
.headersearch {
  background: $colorSub;
}

.body-hotel {
  .headerregion:hover .headerregion-inner {
    background: #fff;
  }
}

.serpsizebutton{
  &:after {
    border-right-color: $colorSub;
    border-left-color: $colorSub;
  }
}

.sortbutton-checked,
.booking-paypage-grats-title,
.hotelsearchinfo-comment,
.body-serp .headerregion {
  color: #fff;
}

.booking-tabs-button-checked {
  color: #000;
}

.hotelsearchinfo-link {
  color: rgba(255, 255, 255, .5);
}

.hotel-room-rate-multibookingcontrol,
.hotel-similar:hover,
.hotel-room:hover,
.hotel-rooms-not-found-choice-button {
  border-color: $colorMain;
}

.hotel-similar:hover {
  box-shadow: 0 0 5px rgba($colorMain, .4);
}

.serpheader-search-button {
  background: $colorSub;

  &.goog-control-focused,
  &.goog-control-hover {
    background: $colorSub;
  }
}

.sortbutton-content,
.hotel-tabs-button-content,
.hotel-header-address,
.hotel-change-dates,
.hotel-room-desc-link,
.booking-guests-toggle,
.booking-room-wishes-toggle,
.booking-price-room-taxes,
.booking-tabs-button span,
.booking-backlink-link,
.hotel-about-sorrymessage-link,
.hotel-reviews-brief-read-all {
  border-bottom: 1px solid $colorMain;
}

.hotel-tabs-button-checked {
  border-top-color: $colorMain;
}

.serptabbutton-content {
  border-bottom-color: $colorMain;
}

// Buttons
.button-flat {
  border: none;
  background: $colorSub;

  &.goog-control-focused,
  &.goog-control-hover {
    background: $colorSub;
  }
}

.button-blue,
.button-blue:active,
.button-blue:hover,
.button i,
.button:hover i,
.button:active i {
  box-shadow: none;
  background: $colorSub;
  border: $colorSub;
}

// Ruler on Google map
.mapruler {
  background: $colorSub;
  background: rgba($colorSub, .7);

  &:hover {
    background: $colorSub;
    background: rgba($colorSub, .7);
  }
}

.map-with-mapruler .mapruler,
.hotel-multibookingsubmit {
  background: rgba($colorMain, .7);

  &:hover {
    background: rgba($colorMain, .7);
  }
}

// Banners
.owl-banners {
  position: absolute;
  width: 360px;
  right: 0;
  top: 50px;
}
